# Ignorar dependências
node_modules/
venv/
tokens/

# Arquivos de configuração locais
.env
*.log

# Ignorar cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos da pasta de logs
log/
logs/

# Ignorar arquivos da pasta uploads (evita upload de PDFs, imagens e outros arquivos temporários)
uploads/

# Ignorar arquivos de pacotes gerados automaticamente
*.lock
package-lock.json
